# Global
.git
.gitignore
Dockerfile
dist
uploads
.env
.env.*
node_modules
coverage
*.log

# Client & server build artefacts
client/node_modules
client/dist
server/node_modules
server/dist

node_modules
.DS_Store
server/public
vite.config.ts.*
*.tar.gz

# Added for .dockerignore
uploads/
*.log
build/
