DO $$ BEGIN
 CREATE TYPE "public"."file_type" AS ENUM('PDF', 'DOCX', 'DOC', 'XLSX', 'XLS', 'JPG', 'JPEG', 'PNG', 'GIF', 'WEBP', 'TXT', 'CSV', 'ZIP', 'RAR', '7Z', 'MP4', 'AVI', 'MOV');
EXCEPTION
 WHEN duplicate_object THEN null;
END $$;

DO $$ BEGIN
 CREATE TYPE "public"."file_category" AS ENUM('TAX_DOCUMENT', 'INSURANCE_DOCUMENT', 'MEDICLAIM_DOCUMENT', 'USER_PROFILE_IMAGE', 'BLOG_IMAGE', 'WEBSITE_ASSET', 'REPORT_TEMPLATE', 'SYSTEM_BACKUP', 'TEMP_FILE');
EXCEPTION
 WHEN duplicate_object THEN null;
END $$;

DO $$ BEGIN
 CREATE TYPE "public"."storage_provider" AS ENUM('LOCAL', 'AWS_S3', 'GOOGLE_CLOUD', 'AZURE_BLOB', 'CLOUDFLARE_R2');
EXCEPTION
 WHEN duplicate_object THEN null;
END $$;

DO $$ BEGIN
 CREATE TYPE "public"."user_status" AS ENUM('active', 'inactive', 'suspended', 'pending_verification');
EXCEPTION
 WHEN duplicate_object THEN null;
END $$;

DO $$ BEGIN
 CREATE TYPE "public"."login_method" AS ENUM('email_password', 'google_oauth', 'phone_otp', 'biometric');
EXCEPTION
 WHEN duplicate_object THEN null;
END $$;

-- Create Files Table
CREATE TABLE IF NOT EXISTS "files" (
	"id" varchar(128) PRIMARY KEY NOT NULL,
	"original_name" varchar(500) NOT NULL,
	"stored_name" varchar(500) NOT NULL,
	"file_path" text NOT NULL,
	"file_type" "file_type" NOT NULL,
	"file_category" "file_category" NOT NULL,
	"file_size" bigint NOT NULL,
	"mime_type" varchar(255),
	"storage_provider" "storage_provider" DEFAULT 'LOCAL',
	"storage_bucket" varchar(255),
	"storage_region" varchar(100),
	"cdn_url" text,
	"is_public" boolean DEFAULT false,
	"access_level" varchar(50) DEFAULT 'private',
	"encryption_key_id" varchar(255),
	"checksum_md5" varchar(32),
	"checksum_sha256" varchar(64),
	"metadata" jsonb,
	"tags" jsonb,
	"uploaded_by" integer,
	"organization_id" integer,
	"parent_entity_type" varchar(50),
	"parent_entity_id" varchar(128),
	"expires_at" timestamp with time zone,
	"is_deleted" boolean DEFAULT false,
	"deleted_at" timestamp with time zone,
	"deleted_by" integer,
	"created_at" timestamp with time zone DEFAULT now() NOT NULL,
	"updated_at" timestamp with time zone DEFAULT now() NOT NULL,
	"last_accessed_at" timestamp with time zone DEFAULT now() NOT NULL
);

-- Create File Versions Table
CREATE TABLE IF NOT EXISTS "file_versions" (
	"id" serial PRIMARY KEY NOT NULL,
	"file_id" varchar(128) NOT NULL,
	"version_number" integer NOT NULL,
	"stored_name" varchar(500) NOT NULL,
	"file_path" text NOT NULL,
	"file_size" bigint NOT NULL,
	"checksum_md5" varchar(32),
	"created_by" integer,
	"created_at" timestamp with time zone DEFAULT now() NOT NULL,
	CONSTRAINT "file_versions_file_id_version_idx" UNIQUE("file_id","version_number")
);

-- Create File Access Logs Table
CREATE TABLE IF NOT EXISTS "file_access_logs" (
	"id" serial PRIMARY KEY NOT NULL,
	"file_id" varchar(128) NOT NULL,
	"user_id" integer,
	"access_type" varchar(50) NOT NULL,
	"ip_address" inet,
	"user_agent" text,
	"success" boolean DEFAULT true,
	"error_message" text,
	"accessed_at" timestamp with time zone DEFAULT now() NOT NULL
);

-- Create File Permissions Table
CREATE TABLE IF NOT EXISTS "file_permissions" (
	"id" serial PRIMARY KEY NOT NULL,
	"file_id" varchar(128) NOT NULL,
	"user_id" integer NOT NULL,
	"permission_type" varchar(50) NOT NULL,
	"granted_by" integer,
	"expires_at" timestamp with time zone,
	"created_at" timestamp with time zone DEFAULT now() NOT NULL,
	CONSTRAINT "file_permissions_file_user_permission_idx" UNIQUE("file_id","user_id","permission_type")
);

-- Create User Sessions Table
CREATE TABLE IF NOT EXISTS "user_sessions" (
	"id" varchar(128) PRIMARY KEY NOT NULL,
	"user_id" integer NOT NULL,
	"device_info" jsonb,
	"ip_address" inet,
	"user_agent" text,
	"login_method" "login_method",
	"expires_at" timestamp with time zone NOT NULL,
	"is_active" boolean DEFAULT true,
	"created_at" timestamp with time zone DEFAULT now() NOT NULL,
	"last_activity_at" timestamp with time zone DEFAULT now() NOT NULL
);

-- Create User Activity Logs Table
CREATE TABLE IF NOT EXISTS "user_activity_logs" (
	"id" serial PRIMARY KEY NOT NULL,
	"user_id" integer,
	"session_id" varchar(128),
	"activity_type" varchar(100) NOT NULL,
	"activity_description" text,
	"entity_type" varchar(50),
	"entity_id" varchar(128),
	"metadata" jsonb,
	"ip_address" inet,
	"user_agent" text,
	"created_at" timestamp with time zone DEFAULT now() NOT NULL
);

-- Create Admin Permissions Table
CREATE TABLE IF NOT EXISTS "admin_permissions" (
	"id" serial PRIMARY KEY NOT NULL,
	"user_id" integer NOT NULL,
	"module" varchar(100) NOT NULL,
	"permissions" jsonb NOT NULL,
	"granted_by" integer,
	"granted_at" timestamp with time zone DEFAULT now() NOT NULL,
	CONSTRAINT "admin_permissions_user_module_idx" UNIQUE("user_id","module")
);

-- Add Foreign Key Constraints
DO $$ BEGIN
 ALTER TABLE "files" ADD CONSTRAINT "files_uploaded_by_users_id_fk" FOREIGN KEY ("uploaded_by") REFERENCES "public"."users"("id") ON DELETE set null ON UPDATE no action;
EXCEPTION
 WHEN duplicate_object THEN null;
END $$;

DO $$ BEGIN
 ALTER TABLE "files" ADD CONSTRAINT "files_deleted_by_users_id_fk" FOREIGN KEY ("deleted_by") REFERENCES "public"."users"("id") ON DELETE set null ON UPDATE no action;
EXCEPTION
 WHEN duplicate_object THEN null;
END $$;

DO $$ BEGIN
 ALTER TABLE "file_versions" ADD CONSTRAINT "file_versions_file_id_files_id_fk" FOREIGN KEY ("file_id") REFERENCES "public"."files"("id") ON DELETE cascade ON UPDATE no action;
EXCEPTION
 WHEN duplicate_object THEN null;
END $$;

DO $$ BEGIN
 ALTER TABLE "file_versions" ADD CONSTRAINT "file_versions_created_by_users_id_fk" FOREIGN KEY ("created_by") REFERENCES "public"."users"("id") ON DELETE set null ON UPDATE no action;
EXCEPTION
 WHEN duplicate_object THEN null;
END $$;

DO $$ BEGIN
 ALTER TABLE "file_access_logs" ADD CONSTRAINT "file_access_logs_file_id_files_id_fk" FOREIGN KEY ("file_id") REFERENCES "public"."files"("id") ON DELETE cascade ON UPDATE no action;
EXCEPTION
 WHEN duplicate_object THEN null;
END $$;

DO $$ BEGIN
 ALTER TABLE "file_access_logs" ADD CONSTRAINT "file_access_logs_user_id_users_id_fk" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE set null ON UPDATE no action;
EXCEPTION
 WHEN duplicate_object THEN null;
END $$;

DO $$ BEGIN
 ALTER TABLE "file_permissions" ADD CONSTRAINT "file_permissions_file_id_files_id_fk" FOREIGN KEY ("file_id") REFERENCES "public"."files"("id") ON DELETE cascade ON UPDATE no action;
EXCEPTION
 WHEN duplicate_object THEN null;
END $$;

DO $$ BEGIN
 ALTER TABLE "file_permissions" ADD CONSTRAINT "file_permissions_user_id_users_id_fk" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE cascade ON UPDATE no action;
EXCEPTION
 WHEN duplicate_object THEN null;
END $$;

DO $$ BEGIN
 ALTER TABLE "file_permissions" ADD CONSTRAINT "file_permissions_granted_by_users_id_fk" FOREIGN KEY ("granted_by") REFERENCES "public"."users"("id") ON DELETE set null ON UPDATE no action;
EXCEPTION
 WHEN duplicate_object THEN null;
END $$;

DO $$ BEGIN
 ALTER TABLE "user_sessions" ADD CONSTRAINT "user_sessions_user_id_users_id_fk" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE cascade ON UPDATE no action;
EXCEPTION
 WHEN duplicate_object THEN null;
END $$;

DO $$ BEGIN
 ALTER TABLE "user_activity_logs" ADD CONSTRAINT "user_activity_logs_user_id_users_id_fk" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE cascade ON UPDATE no action;
EXCEPTION
 WHEN duplicate_object THEN null;
END $$;

DO $$ BEGIN
 ALTER TABLE "user_activity_logs" ADD CONSTRAINT "user_activity_logs_session_id_user_sessions_id_fk" FOREIGN KEY ("session_id") REFERENCES "public"."user_sessions"("id") ON DELETE set null ON UPDATE no action;
EXCEPTION
 WHEN duplicate_object THEN null;
END $$;

DO $$ BEGIN
 ALTER TABLE "admin_permissions" ADD CONSTRAINT "admin_permissions_user_id_users_id_fk" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE cascade ON UPDATE no action;
EXCEPTION
 WHEN duplicate_object THEN null;
END $$;

DO $$ BEGIN
 ALTER TABLE "admin_permissions" ADD CONSTRAINT "admin_permissions_granted_by_users_id_fk" FOREIGN KEY ("granted_by") REFERENCES "public"."users"("id") ON DELETE set null ON UPDATE no action;
EXCEPTION
 WHEN duplicate_object THEN null;
END $$;

-- Create Indexes for Files Table
CREATE INDEX IF NOT EXISTS "files_category_idx" ON "files" USING btree ("file_category");
CREATE INDEX IF NOT EXISTS "files_type_idx" ON "files" USING btree ("file_type");
CREATE INDEX IF NOT EXISTS "files_uploaded_by_idx" ON "files" USING btree ("uploaded_by");
CREATE INDEX IF NOT EXISTS "files_parent_entity_idx" ON "files" USING btree ("parent_entity_type","parent_entity_id");
CREATE INDEX IF NOT EXISTS "files_created_at_idx" ON "files" USING btree ("created_at");
CREATE INDEX IF NOT EXISTS "files_storage_provider_idx" ON "files" USING btree ("storage_provider");
CREATE INDEX IF NOT EXISTS "files_is_deleted_idx" ON "files" USING btree ("is_deleted");

-- Create Indexes for File Versions Table
CREATE INDEX IF NOT EXISTS "file_versions_file_id_idx" ON "file_versions" USING btree ("file_id");

-- Create Indexes for File Access Logs Table
CREATE INDEX IF NOT EXISTS "file_access_logs_file_id_idx" ON "file_access_logs" USING btree ("file_id");
CREATE INDEX IF NOT EXISTS "file_access_logs_accessed_at_idx" ON "file_access_logs" USING btree ("accessed_at");
CREATE INDEX IF NOT EXISTS "file_access_logs_user_id_idx" ON "file_access_logs" USING btree ("user_id");

-- Create Indexes for File Permissions Table
CREATE INDEX IF NOT EXISTS "file_permissions_file_id_idx" ON "file_permissions" USING btree ("file_id");
CREATE INDEX IF NOT EXISTS "file_permissions_user_id_idx" ON "file_permissions" USING btree ("user_id");

-- Create Indexes for User Sessions Table
CREATE INDEX IF NOT EXISTS "user_sessions_user_id_idx" ON "user_sessions" USING btree ("user_id");
CREATE INDEX IF NOT EXISTS "user_sessions_expires_at_idx" ON "user_sessions" USING btree ("expires_at");
CREATE INDEX IF NOT EXISTS "user_sessions_is_active_idx" ON "user_sessions" USING btree ("is_active");

-- Create Indexes for User Activity Logs Table
CREATE INDEX IF NOT EXISTS "user_activity_logs_user_id_idx" ON "user_activity_logs" USING btree ("user_id");
CREATE INDEX IF NOT EXISTS "user_activity_logs_created_at_idx" ON "user_activity_logs" USING btree ("created_at");
CREATE INDEX IF NOT EXISTS "user_activity_logs_activity_type_idx" ON "user_activity_logs" USING btree ("activity_type");

-- Create Indexes for Admin Permissions Table
CREATE INDEX IF NOT EXISTS "admin_permissions_user_id_idx" ON "admin_permissions" USING btree ("user_id");
